Options -Indexes

RemoveHandler .php .phtml .php3 .php4 .php5 .phar
RemoveType .php .phtml .php3 .php4 .php5 .phar

<FilesMatch "\.(php|phtml|phar|cgi|pl|py|sh|bat|exe)$">
  Require all denied
</FilesMatch>
